<!-- <pre>
    {{employee|json}}
</pre> -->

<div class="d-flex justify-content-center">
  <button routerLink="emp/add" class="btn btn-outline-primary mt-3">ADD</button>

</div>

<div class="card text-center container p-5 border-none">
  <div class="card-header w-50 mb-4 shadow mx-auto col-6" *ngFor="let emp of employee">

    <div class="p-4 ">
      <h1 class="items-center text-center fw-bolder underline "><i class="fa-solid fa-user" style="color: #000000;"></i>
        {{emp.name}}
      </h1>
      <p class="mt-3 text-sm text-gray-600">
        <span><i class="fa-solid fa-briefcase"></i> {{emp.dept}}</span>
      </p>
      <p class="mt-3 text-sm text-gray-600">
        <span><i class="fa-solid fa-envelope"></i> {{emp.email}}</span>
      </p>
      <p class="mt-3 text-sm text-gray-600 mb-4">
        <span><i class="fa-solid fa-phone"></i> {{emp.phone}}</span>
      </p>

<div class="d-flex justify-content-center">
  <div class="row d-flex justify-content-evenly w-50  ">
    <div class="col-4">
      <a [routerLink]="['emp',emp.id]" class="btn btn-outline-primary">Detaile</a>
    </div>
    <div class="col-4">
      <a routerLink="emp/add" [queryParams]="{emp_id:emp.id}" class="btn btn-outline-success">Update</a>
    </div>
    <div class="col-4">
      <button (click)="handleDelete(emp.id)" class="btn btn-outline-danger">Delete</button></div>

  </div>
</div>
    </div>
  </div>

</div>
